---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import ceos from "../images/ceos.jpeg";
---

<html lang="en">
  <head>
    <MainHead
      title="Ueber | Cafe Hilleke"
      description="Ueber das Cafe Hilleke"
    />
    <style>
      .heroImg {
        max-height: 30rem;
        object-fit: cover;
        overflow: hidden;
        text-align: center;
      }

      .heroImg img {
        width: 70%;
      }

      .bio {
        font-size: var(--f-u1);
        line-height: 2;
        margin-top: 4em;
      }
    </style>
  </head>
  <body>
    <Nav />
    <div class="wrapper">
      <h1>Über das Café Hilleke</h1>
      <div class="heroImg">
        <img src={ceos} />
      </div>
      <div class="bio">
        <p>
          Unser Cafe Unser gemütliches Café bietet Platz für bis zu 80 Personen
          und für Sie den idealen Rahmen für Ihre Feierlichkeiten in wohnlicher
          Atmosphäre - z.B. Geburtstage, Hochzeiten, Taufen Kommunionen,
          Konfirmationen oder sich einfach mit ein paar Freunden treffen. Hier
          können Sie sich wie Zuhause fühlen! Um Ihr leibliches Wohl kümmert
          sich unser umfangreicher Catering-Service!
        </p>
      </div>
    </div>
    <Footer />
  </body>
</html>
